.complete {
    background-color: var(--secondary-color);
}

.complete span {
    color: #ffffff;
}

.uncomplete {
    background-color: var(--pending-color);
}

.uncomplete span {
    color: #202020;
}