:root {
  --background-color : #f2f2f2;
  --primary-color : #5C8D89;
  --secondary-color : #74B49B;
  --tertiary-color : #A7D7C5;
  --gray-color : #e1e1e1;
  --pending-color: #F5DE62;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
}
